*{
    margin: 0;
    padding: 0;
    html {
        scroll-behavior: smooth;
    }
}

body{
    min-height: 100vh;
    background-color: #FFFFEC;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    width: 100%;
    background-color: #597E52;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999; 
    position: sticky;
    top: 0;
}

.logo-brand {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: #b3dfaa;
    padding-left: 20px;
}

nav ul {
   width: 100%;
   list-style: none;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 50px;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #b3dfaa;
}

nav a:hover {
    background-color: #9dc586c6;
    transition: all .3s ease-in-out;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    color: #597E52;
    background-color:  #ecfae55b;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    color: #597E52;
}

.menu-button {
    display: none;
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

.home-section {
    min-height: 100vh; 
    padding-top: 20px; 
}

.home-section .home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: rgb(85, 131, 97);
    justify-content: space-between;
    background-color: #FFFFEC;
    gap: 20px;
}

.home-section .home .details-home {
    margin-left:30px;
}

.home-section .details-home .greet {
    font-size: 3rem;
    color:rgb(85, 131, 97);
    font-family: "Franklin Gothic Medium", sans-serif;
}

.home-section .details-home .judul {
    margin-top: 8px;
    max-width: 70%;
    font-size: 2rem;
    font-weight: semi-bold;
}

.home-section .details-home .isi {
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: 1rem; 
}

.home-section .details-home .button {
    display: flex;
    gap: 23px
}

.home-section .details-home .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    color:#b3dfaa;
    border-radius: 15px;
    background-color: #597E52;
    font-weight: m;
    transition: all .3s ease-in-out;
}

.home-section .details-home .button:hover {
    color: #597E52;
    border-color: #9dc586c6;
    background: transparent;
    transition: all .3s ease-in-out;
}

.home-section .home .image-home {
    width: 500px;
    margin-right: 30px;
}

.about-section .details-about .about-visi-misi .visi-misi{
    width: 100%;
}

.about-section {
    padding: 80px 0;
    background-color: rgb(247, 238, 211);
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin: 0;
}

.about-section .about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.details-about {
    flex: 1 1 50%;
    text-align: left;
    padding: 0 20px;
    font-size: xl;
}

.details-about .judul-about::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius);
    background: #a4bc99;
}

.about-section .about .image-about {
    width: 500px;
    flex: 1 1 50%;
    object-fit: cover;
    margin-left: 0px;
    border-radius: 30px;
    border: 2px solid rgb(85, 131, 97);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.187);
}

.about-section .details-about:is(.judul-about, .isi-about)  {
    max-width: 50%;
}

.about-section .details-about .judul-about {
    padding: 0;
    font-size: 2rem;
    font-weight: semi-bold;
    color: rgb(85, 131, 97);
    margin-bottom: 16px;
    text-align: center;
}

.about-section .details-about .isi-about {
    margin: 24px 0 40px;
    font-size: 1rem;
    line-height: 1.8;
    color: rgb(85, 131, 97);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.visi-misi {
    display: flex;
    gap: 20px;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.visi, .misi {
    max-width: 500px;
    flex: 1 1 45%;
    margin: 0 10px 60px;
    border: 2px solid rgb(85, 131, 97);
    border-radius: 15px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.187);
}

.gambar-judul-visi, .gambar-judul-misi {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(85, 131, 97);
    padding-left: 5px;
}

.isi-visi, .isi-misi {
    font-size: 1rem;
    line-height: 1.8;
    color: rgb(85, 131, 97);
    text-align: left;
    padding-left: 5px;
}
.plans-section {
    padding: 50px 20px 100px;
    background-color: #FFFFEC;
    box-sizing: border-box;
    min-height: 100vh;
}

.plans-section .judul-plans {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(85, 131, 97);
    margin: 0 0 20px;
}

.plans-section .judul-plans::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius);
    background: #a4bc99;
}

.plans-section .detail-plans {
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-self: space-between;
    flex-wrap: wrap;
}

.plans-list {
    list-style: none;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.plans-items {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 2px solid #597E52;
    border-radius: 10px;
    background-color: white;
    width: calc(50% - 20px);
    box-sizing: border-box;
    gap: 12px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.187);
}

.plans-items .icon-wrapper {
    font-size: 3rem;
    color: #597E52;
}

.plans-items span.material-symbols-outlined {
    font-size: 2.5rem;
    color: #597E52;
    flex-shrink: 0;
}

.plans-items p {
    margin: 0;
    color: #555;
    font-size: 1rem;
    line-height: 1.5;
}

.contact-section .contact-form {
    width: 100%;
}

.contact-section {
    padding: 50px 20px 100px;
    background-color: rgb(247, 238, 211);
    box-sizing: border-box;
    min-height: 100vh;
}

.contact-section .judul-contact {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(85, 131, 97);
    margin: 0 0 20px;
}

.contact-section .judul-contact::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius);
    background: #a4bc99;
}

.contact-section .detail-contact{
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-self: space-between;
    flex-wrap: wrap;
}

.contact-section .contact-list .contact-item {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
    font-size: m;
    color: rgb(85, 131, 97);
}

.contact-section .contact-list .contact-item {
    font-size: medium;
    color: rgb(85, 131, 97);
}

.contact-section .contact-form .form-input{
    width: 100%;
    height: 50px;
    padding: 0 12px;
    outline: none;
    margin-bottom: 16px;
    background: white;
    border: 1px solid rgb(85, 131, 97);
    border-radius: var(--border-radius);
}

.contact-section .contact-form .form-input:focus {
    border-color: rgb(85, 131, 97);
}

.contact-section .contact-form .textarea {
    resize: vertical;
    padding: 12px;
    height: 100px;
}

.contact-section .contact-form {
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid rgb(85, 131, 97);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.187);
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: rgb(85, 131, 97);
    box-sizing: border-box;
}

.contact-section .contact-form .form-input,
.contact-section .contact-form .textarea {
    width: 100%;
    padding: 12px;
    outline: none;
    margin-bottom: 16px;
    background: white;
    border: 1px solid rgb(85, 131, 97);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: rgb(85, 131, 97);
}

.contact-section .contact-form .button-submit {
    width: 100%;
    padding: 10px 26px;
    border: 2px solid transparent;
    color: #b3dfaa;
    border-radius: 15px;
    background-color: #597E52;
    font-weight: m;
    font-size: m;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.contact-section .contact-form .button-submit:hover {
    color: #597E52;
    border-color: #9dc586c6;
    background: transparent;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.footer-section {
    padding: 20px 0;
    background: #597E52;
    color: #b3dfaa;
    text-align: center;
    font-weight: medium;
}

.footer-section .details-footer {
    margin: 0 auto;
    padding: 0 20px;
    font-weight: medium;
}

.footer-section :where(.bawah) {
    font-size: 0.99rem;
    color: #b3dfaa;
}

@media screen and (max-width: 800px) {
    .home-section .home {
        flex-direction: column-reverse;
        text-align: center;
        gap: 50px;
        justify-content: center;
        padding: 30px 20px;
        align-items: center;
    }

    .home-section .home .image-home {
        width: 100%;
        margin-right: 0;
        max-width: 250px;
    }

    .home-section .details-home {
        max-width: 90%;
        margin: 0 auto;
    }

    .home-section .details-home :is(.judul, .isi) {
        max-width: 100%;
        text-align: center;
    }

    .home-section .details-home .button {
        display: inline-block;
        justify-content: center;
    }

    .about-section .about {
        flex-direction: column;
        text-align: center;
        gap: 50px;
        justify-content: center;
        padding: 30px 20px;
        align-items: center;
    }

    .about-section .about .image-about {
        width: 100%;
        height: 100%;
        max-width: 250px;
        margin: 0 auto;
    }

    .visi, .misi {
        display: flex;
        max-width: 90%;
        flex: 1 1 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
        box-sizing: border-box;
    }

    .plans-list {
       flex-direction: column; 
       gap: 20px;
       max-width: 100%;
    }

    .plans-items {
       flex-direction: row; /* Icon dan teks sejajar secara horizontal */
       align-items: center;
       width: 100%; /* Lebar full container */
       padding: 12px;
    }

    .plans-items .icon-wrapper {
       font-size: 2.5rem; /* ukuran ikon bisa disesuaikan */
       margin-right: 16px; /* beri jarak kanan agar tidak menempel teks */
    }

    .plans-items p {
      text-align: left;
      margin: 0;
   }
    
    .footer-section .details-footer {
        padding: 0 10px;
    }

}

@media screen and (max-width: 900px) {
    .contact-section .contact-form {
        flex-direction: column;
        align-items: center;
        gap: 20px;               
        justify-content: center;
    }
}
